/*Header*/
.content-container {
  height: 95vh;
  width: 100vw;
  position: relative;
  background-color: #0f1108;
  text-align: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  color: #fff8f0;
  .highlight {
    color: #d81e5b;
  }
  // margin: 0;
  // position: absolute;
  // top: 80%;
  // left: 56%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
  //
  // background-image: asset-url("../images/laptop.png");
  //  background-image: asset-url('../../images/laptop.png');
  // background-size: cover;
}

.header-container h3 {
  font-size: 64px;
}
/*Project*/

.project-container img {
  width: 88%;
}
.happy-img {
  height: fit-content;
  width: 100%;
}
.project-list {
  padding-top: 64px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}
.project-container {
  margin: 0 auto;
  display: flex;
  // width: 90vw;
  margin-top: 64px;
  align-items: center;
  margin-bottom: 64px;
}

.project-info {
  text-align: right;
  /* width: 50%; */
  margin-left: 24%;
}

.project-info-mid {
  text-align: left;
  margin-right: 36%;
  .project-container img {
    width: 88%;
  }
}

.project-info h3 {
  font-size: 24px;
}
.project-info p {
  font-size: 16px;
}
.project-info-mid h3 {
  font-size: 24px;
}
.project-info-mid p {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .header-container {
    left: 16%;

    h3 {
      font-size: 48px;
    }
  }
}
