.navbar-lewagon {
  justify-content: center;
  background: #0F1108
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .nav-item .nav-link {
  color: #FFF8F0;
}

.navbar-lewagon .nav-item .nav-link:hover {
  color: #FFF8F0;
  opacity: 0.8;
}

.navbar-light .navbar-toggler {
  color: white;
}