// Specific CSS for your home-page
/*About Me Section*/
.about-me .about-me-container img {
  width: 64%;
  border-radius: 50%;
  margin: 24px;
}

.about-me .about-me-container p {
  margin: 8px;
}

.about-me {
  text-align: center;
  background-color: #0f1108;
  height: 100vh;
  color: #fff8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 64px;
  // margin: 0 auto;
  // width: 64vw;
  // padding-top: 64px;
}

.social {
  background: #0F1108; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 16px;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links a {
  color: #FFF8F0;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.social-links a:hover {
  opacity: 1;
}