// Specific CSS for your home-page
/*About Me Section*/
.about-me img {
  width: 92%;
  margin-bottom: 32px
}

.about-me {
  text-align: center;
  margin-top: 64px;
  margin: 0 auto;
  width: 64vw;
  padding-top: 64px;
}
