<div class="content-container">
  <div class="header-container" id="home">
    <h3>Hi! I'm <span class="highlight">Yusuke Ishida</span></h3>
    <p>Full-Stack Web Developer</p>
  </div>
</div>
<div class="card-list" id="projects" >
  <div class="container my-3">
  <h3>Projects</h3>
    <div class="row">
      <div class="col-sm my-3">
        <div class="card-item 1">
          <a class="project-link" href="https://yondajp.herokuapp.com/posts" target="_blank">
            <div class="card_image">
              <img src="images/Yonda.png"/>
              <div class="overlay">
                <div class="text" id="yonda">
                  Yonda</br>
                  A web app where you can share your thoughts
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm my-3">
        <div class="card-item 2">
          <a class="project-link" href="https://happy-mood.herokuapp.com/" target="_blank">
            <div class="card_image">
              <img src="images/Happy.png" alt="Happy Homescreen"  />
              <div class="overlay">
                <div class="text" id="happy">
                  Happy</br>
                  A progressive web app for tracking mood
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm my-3">
        <div class="card-item 3">
          <a class="project-link" href="https://pick-a-sitter.herokuapp.com" target="_blank">
            <div class="card_image">
              <img src="images/Pick-a-Sitter.png" alt="" />
              <div class="overlay">
                <div class="text" id="pick-a-sitter">
                  Pick-A-Sitter</br>
                  A marketplace app for babysitters
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>  
      <div class="col-sm my-3">
        <div class="card-item 4">
          <a class="project-link" href="https://top-250-movies-api.herokuapp.com" target="_blank">
            <div class="card_image">
              <img src="images/top250-movies-api.png" alt="" />

              <div class="overlay">
                <div class="text" id="movies-api">
                  Top 250 movies API</br>
                  An API for top 250 movies with an app to test endpoints
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> 
    </div>
  </div>
  <%# <div class="about-me"> %>
  <%# </div> %>
<div class="footer">
  <div class="footer-links" id="contact">
    <a href="https://github.com/yusuke0127" target="_blank"><i class="fab fa-github"></i></a>

    <a href="https://www.instagram.com/ishidayusuke_/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="mailto: ishidayusuke01@gmail.com"><i class="fas fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/yusuke-ishida" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
