<div class="content-container" style="background-image: url('images/laptop.png');">
  <div class="header-container">
    <h3>Yusuke Ishida</h3>
    <p>Full-Stack Developer</p>
  </div>
</div>
<div class="about-me" id="about">
  <img src="images/lewagon_family.jpg" alt="">
  <h2>About Me</h2>
  <p>My name is Yusuke(I'm the one with glasses holding a laptop in the photo above), a Full Stack Developer based in Tokyo. I was born in Japan but was raised in the Philippines. I came back here 5 years ago to learn about the language and the culture.</p>
  <p>My interest in coding started in my previous job where I was doing some excel work again and again which was dreadful(As some of guys probably know). So I decided to look for ways to automate it and that's where I started to learn about programming.</p>
  <p>At first, it was a lot of copypasting which worked but made me limited on what I can do so I started looking for courses online and offline.</p>
  <p>That's where I found Le Wagon! After some research, I decided that they are the right match for me and enrolled for their Web Development Course. The photo above is our batch photo.</p>
</div>
<div class="project-list" id="project">
  <h2>Projects</h2>
  <div class="project-container">
    <div class="project-img">
      <img src="https://media.giphy.com/media/SwHhHwSxOq1PjHCxI8/giphy.gif" alt="" class="happy-img">
    </div>
    <div class="project-info">
      <h3>Happy <a class="btn btn-ghost" href="https://www.happyyou.xyz/" target="_blank">link</a></h3>
      <p>A mood tracker app that can log the users mood in relation to activity in anytime of the day. We also integrated the Line API that allows the user to connect to their friends and check their moods for the day</p>
      <p><i class="fab fa-js-square"></i><i class="far fa-gem"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-github-square"></i><i class="fab fa-line"></i></p>
    </div>
  </div>
  <div class="project-container">
    <div class="project-info-mid">
      <h3>Pick-A-Sitter <a class="btn btn-ghost" href="https://pick-a-sitter.herokuapp.com/" target="_blank">link</a></h3>
      <p>A marketplace app for babysitters</p>
      <p><i class="fab fa-js-square"></i><i class="far fa-gem"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-github-square"></i></p>
    </div>
    <div class="project-img">
      <img src="https://media.giphy.com/media/WTGBfd02zYZy4jhmv3/giphy.gif" alt="">
    </div>
  </div>
  <div class="project-container">
    <div class="project-img">
      <img src="https://media.giphy.com/media/kI8ziCvzJZGKyPoVOM/giphy.gif" alt="">
    </div>
    <div class="project-info">
      <h3>Just-Drink-It <a class="btn btn-ghost" href="https://just-drink-it.herokuapp.com/cocktails" target="_blank">link</a></h3>
      <p>A cocktail making app where you can create your own and add ingredients with photo upload function</p>
      <p><i class="fab fa-js-square"></i><i class="far fa-gem"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-github-square"></i></p>
    </div>
  </div>
  <h3>Expect more to come!</h3>
</div>
<div class="footer">
  <div class="footer-links" id="contact">
    <a href="https://github.com/yusuke0127" target="_blank"><i class="fab fa-github"></i></a>
    <a href="mailto: ishidayusuke01@gmail.com"><i class="fas fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/yusuke-ishida" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>